*.txt
node_modules
tmp
config
public
static
.cache
.editorconfig
coverage
README.md
package-lock.json
**/Dockerfile
build
dist
.gitignore
*.cmd
*.prettierignore
*.eslintignore
dep-package.json
dep-package-lock.json
yarn.lock
Dockerfile
.dockerignore
*.sh
*.jpg
*.png
*.svg
*.config
*.snap
**/.env*
.npmrc
.nvmrc
**/pnpm-workspace.yaml*
pnpm-workspace.yaml
pnpm-lock.yaml
tsconfig.base.json
