# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo
.run
.dccache

# Project Specific
cdk.context.json
.cdk.staging
cdk.out
*.log
lib
tmp
.changelog
coverage
coverage-*
__coverage__
.nyc_output
.eslintcache
.env
.env.*
!packages/shared/.env
!packages/metronome/package.json
node_modules
.cache
**/dist/**
!packages/zeus/dist/dummy.txt
build
# public
*.zip
*.d.ts
packages/end2end/output
!packages/end2end/output/imageBase
!packages/end2end/steps.d.ts
*.js
*.jsx
!auth0/**/*.js
!auth0/sample-app/public
auth0/config/cribl-cloud-dev-*.json
config/local/cribl-cloud-dev-*.yml
!packages/zeus/jest_config.js
!packages/shared/src/app-conf.js
!packages/zeus/component-test/.env
config/local/localstack.yml
config/deploy/local.yml
test-reports
junit.xml
.next
.serverless
.serverless_nextjs
package-lock.json

**/.terraform/*
.terraform.*
terraform.tfstate*
.terraform.lock.hcl
*.tfstate
*.tfstate.*
infrastructure/terraform/tenant/prod/**
infrastructure/terraform/tenant/staging/**

# Auth0 Specific
auth0/deploy/organizations/**
auth0/deploy/clients/Auth0*Deploy*CLI.json

.pnpm-store
dev-container/env/main.env

infrastructure/ami/local.pkrvars.hcl
infrastructure/terraform/tenant/root/*.tfvars.json
infrastructure/terraform/tenant/root/license.auto.tfvars
uploads/
**/uploads/
node_modules
